body {
  height: 100vh;

  display: grid;
  place-items: center;
  background-image: url("./img/neutral.jpeg");
}

.container {
  width: 30%;
  height: 500px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  font-family: Arial;
  font-size: 1.4em;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

#number {
  font-size: 6em;
  color: rgb(0, 26, 128);
}

.box {
  display: flex;
  justify-content: space-between;
}

#minus {
  padding: 10px 15px;
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: blue;
  color: white;
}

#plus {
  padding: 10px 15px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: blue;
  color: white;
}

#minus:hover,
#plus:hover {
  background-color: grey;
}

#minus:active,
#plus:active {
  scale: 0.9;
}
